---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Страница не найдена">
    <div class="not-found w-full h-full p-4 flex flex-col items-center justify-center gap-2">
        <div class="404 text-6xl font-bold">404</div>
        <div class="title text-2xl font-bold">Страница не найдена</div>
        <a class="go-to-main underline" href="/">Перейти на главную</a>
    </div>
</Layout>
