<div class="footer flex p-12 gap-4 md:gap-0 md:items-center md:justify-evenly flex-wrap bg-slate-200">
    <div class="contact flex flex-col">
        <p>ООО "СТОХАСТИК"</p> 
        <p>ИНН 4345515103 КПП 434501001</p> 
        <p>ОГРН 1214300011441</p> 
        <p>г.Киров, ул. Красноармейская, д.65, к.11</p> 
        <p>zaproezd@list.ru</p> 
        <p>+7 (922) 661-23-36</p> 
    </div>
    <div class="links flex flex-col">
        <a href="/offer" class="footer-link">Главная</a>
        <a href="/offer" class="footer-link">Наши клиенты</a>
        <a href="/offer" class="footer-link">Контакты</a>
        <a href="/offer" class="footer-link">Оферта</a>
        <a href="/terms-of-use" class="footer-link">Пользовательское соглашение</a>
    </div>
</div>

<style>
    .footer-link {
        @apply underline
    }
</style>